#sidebar {
    height: 100%;
    position:relative;
    /*background-color:green;*/
}

header{
    text-align:center;
    margin: 20px 0 50px 0;
}

div.header{
    font-weight: bold;
    margin:0px auto;
    /*border-bottom :2px black solid;*/
    clear:both;

}

.grid{
    clear:both;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.createPageButton{
    margin: 5px;
    text-align:right;
}

.col-md-12 {
    table-layout: fixed;
    word-wrap: break-word;
    padding-bottom: 5px;
    clear:both;
}

.col-md-2{
    table-layout: fixed;
    word-wrap: break-word;
    padding-bottom: 5px;
}